a:link { font-weight:normal; color:#535D54; text-decoration:none; }
a:visited { font-weight:normal; color:#535D54; text-decoration:none; }
a:focus { font-weight:normal; color:#94ac96; text-decoration:none; }
a:hover { font-weight:normal; color:#94ac96; text-decoration:none; }
a:active { font-weight:normal; color:#535D54; text-decoration:none; }