@charset "utf-8";

*{padding:0;
  margin:0;}

html, body{
	width:100%;
	height:100%;}

body{
	font-family:"Lato";
	color:#535d54;
	background-image:url("../resourcen/icons/brushed.png");}

#wrapper{
	width:1200px;
	margin-right:auto;
	margin-left:auto;}

#header {
  	float: left;
	height: 115px;
	position: fixed;
	top:0;
	width: 1200px;
	z-index: 150;
	background-image:url("../resourcen/icons/brushed.png");
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#logo {
  float: left;
  height: 115px;
  left: 0
  position: absolute;
  width: 675px;
  z-index: 55;
}

#headerTitle{
	float:left;
	font-size:40px;
	margin-top:20px;
	margin-left:100px;
}

#headerSubtitle{
	float:left;
	font-size:24px;
	font-weight:lighter;
	font-style:italic;
	margin-left:100px;
}

#iconContainer{
	position:relative;
	float:left;
	top:20px;
	width:165px;
	height:165px;
	border-radius:90px;
	padding:5px;
	background-image:url("../resourcen/icons/brushed.png");}


/** Menü **/

#menu {
  right: 0;
  position: absolute;
  top: 65px;
}

.menuItemContainer{
	position:relative;
	float:left;
	margin-left:10px;
	width:100px;
	height:100px;
	border-radius:60px;
	background-image:url("../resourcen/icons/brushed.png");}

.menuButton{
  position: relative;
  top:5px;
  left:5px;
  width: 90px;
  height: 90px;
  border-radius:50px;
  cursor:pointer;
  background-color:#535d54;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: 2px solid #A9AEAA; /* #535D54 E5E5E5 4E544E*/
  transition: background-size 200ms ease-in, border 200ms ease-in;
  -moz-transition: background-size 200ms ease-in, border 200ms ease-in;
  -ms-transition: background-size 200ms ease-in, border 200ms ease-in;
  -o-transition: background-size 200ms ease-in, border 200ms ease-in;
  -webkit-transition: background-size 200ms ease-in, border 200ms ease-in;}

.menuButton:hover{
	background-size:65%;
	border:2px solid #4E544E;}

.menuItemContainer:nth-child(1) .menuButton{
	background-image: url("../resourcen/icons/indoor.png");}

.menuItemContainer:nth-child(2) .menuButton{
	background-image: url("../resourcen/icons/profil.png");}

.menuItemContainer:nth-child(3) .menuButton{
	background-image: url("../resourcen/icons/warenkorb.png");}

@media (max-width: 1200px){
#menu {
  left: 180px;
  position: absolute;
  top: 65px;
}

#headerTitle{
	display:none;
}

#headerSubtitle{
	display:none;
}
	} 
 
 
/** slider **/ 
#slider{
	float:left;
	position:fixed;
	top:115px;
	width:100%;
	height:auto;}


#main{
	width:1200px;
	min-height:800px;
	position:relative;
	left:0;
	top:270px;
	padding-bottom:50px;
	z-index:50;
	}

#contentMenu{
	width:100%;
	height:40px;}

.contentMenuItem{
	float:left;
	margin-right:2px;
	height:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-image:url("../resourcen/icons/brushed.png");
	padding:5px 10px;
	line-height:30px;
	font-size:18px;}

#suche{
	float:right;
	height:30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:#636a63;
	color:#c5c9c0;
	padding:5px 10px;
	line-height:30px;
	font-size:18px;}

#filter{
	position:absolute;
	top:0;
	right:0;
	height:140px;
	width:440px;
	padding:5px;
	background-color:#636a63;
	color:#bac0b4;
	font-size:16px;
	font-family:"Lato";}

#filterError {
	display:none;
  background-color: #EEEEEE;
  border: 3px solid #D8A758;
  color: #D8A758;
  font-size: 18px;
  height: auto;
  left: 102px;
  padding: 15px 20px;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 200px;
  z-index: 250;
}
	
#contentWrapper {
  background-image: url("../resourcen/icons/brushed.png");
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  float: left;
  min-height: 800px;
  padding: 40px 100px 200px;
  position: relative;
  width: 1000px;
}

#contentDeko{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:400px;
	background-image:url("../resourcen/images/gras1.png");
	background-position: center bottom;
  	background-repeat: no-repeat;
 	background-size: 100% auto;}

#footerWrapper{
	position:fixed;
	bottom:0;
	height:100px;
	width:100%;
	cursor:pointer;
	transition:all 1s ease-out;
	z-index:60;
}

#footerKontakt, #footerImpressum, #footerUp, #footerDown{
	position:absolute;
	top:0px;
	width:100px;
	height:100px;
	border-radius:60px;
	z-index:5;
	
	background-size:80%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#535D54;
	
	  transition: background-size 200ms ease-in, border 200ms ease-in;
  -moz-transition: background-size 200ms ease-in, border 200ms ease-in;
  -ms-transition: background-size 200ms ease-in, border 200ms ease-in;
  -o-transition: background-size 200ms ease-in, border 200ms ease-in;
  -webkit-transition: background-size 200ms ease-in, border 200ms ease-in;}

#footerKontakt{
	background-image:url("../resourcen/icons/kontakt.png");
	left:0;}

#footerImpressum{
	background-image:url("../resourcen/icons/impressum.png");
	right:0;}
	
#footerUp{
	background-image:url("../resourcen/icons/footerUp.png");
	left:50%;
	margin-left:-50px;}

#footerDown{
	background-image:url("../resourcen/icons/footerDown.png");
	left:50%;
	margin-left:-50px;
	display:none;}

#footerImpressum:hover, #footerKontakt:hover{
	background-size:70%;}

/*#footerWrapper:hover{
	height:200px;}*/
	
#footerContent {
  background-color:#535D54;
  float: left;
  height: 200px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index:2;
-moz-box-shadow:    3px 3px 5px 6px black;
  -webkit-box-shadow: 3px 3px 5px 6px black;
  box-shadow:         3px 3px 5px 6px black;
}

#footerLinks {
  float: left;
  height: 100px;
  left: 50%;
  margin-left: -380px;
  position: relative;
  top: 70px;
  width: 640px;
}

#footerLinks div{
	float:left;
	margin-right:50px;}
	
#footerAdresse {
  color: #AAAAAA;
  float: left;
  font-size: 28px;
  font-weight: bold;
  height: 100px;
  left: 50%;
  margin-left: -185px;
  position: relative;
  top: 83px;
  width: 500px;
  text-align:center;
}