form input{
	font-family:"Lato";
	font-size:18px;}


/** Such - Formular **/

#searchField {
  background-color: #636A63;
  border: medium none;
  color: #FFFFFF;
  width: 120px;
  border-right:thin solid white;
}

#searchButton {
	background: url("../resourcen/icons/searchIcon.png") no-repeat;
	cursor:pointer;
	border: none;
	width:30px;
	height:30px;
	margin-left:10px;
}


/** Filter - Formular **/
#filterCheckboxGender{
	margin-left:10px;
  float: left;
  height: 40px;
  position: relative;
  width: 120px;
}

#filterCheckboxCategory{
  float: left;
  height: 40px;
  position: relative;
  width: 100px;}

#filterCheckbox div{
	float:left;
	width:85px;
	margin-left:10px;
	margin-bottom:5px;
}



#filterSelectbox {
  float: left;
  height: auto;
  position: relative;
  width: 200px;
}

#filterSelectbox select {
  background-color: #BCC2BA;
  border: thin solid #636A63;
  color: #636A63;
  float: left;
  font-size: 14px;
  height: 25px;
  width: 200px;
}

#filterSelectbox label{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#filterSelectbox label:first-child{
	margin-right:29px;}

#filterSelectbox select {
  float:left;
  border: none;
  font-family: "Lato";
  font-size: 14px;
  width: 100px;
  margin-bottom:5px;
  height:20px;
  background-color: #BCC2BA;
  border: thin solid #636A63;
  color: #636A63;
  font-size: 14px;
}

#filterSelectbox label:nth-child(3){
	clear:both;}

select option{
	background-color:#blue;}

select option[val="blau"]{
	background-color:#blue;
}

select option[val="rot"]{
	background-color:#red;
}

#filter #rangeBox {
  height: 70px;
  margin-left: 10px;
  padding-top: 0;
  position: absolute;
  top: 55px;
  width: 530px;
}

#rangeBox > div{
	float:left;}

#rangeBox > div > div {
  background-color: #BAC0B4;
  border-radius: 50px;
  color: #636A63;
  text-align:center;
  float: left;
  height: 55px;
  line-height: 41px;
  margin-right: 10px;
  padding: 6px;
  position: relative;
  width: 55px;
}
 
#rangeBox > div > div > span{
	float:left;}

#rangeBox label {
  position:relative;
  top:5px;
  float:left;
  font-size: 12px;
}

#rangeBox label:nth-child(1){
  left:0;
}
#rangeBox label:nth-child(2){
  right:0;
}

#filter input[type="range"] {
  float: left;
  height: 30px;
  line-height: 58px;
  margin-top: 15px;
  width: 131px;
}

#filter #rangeBoxMax input[type="range"] {
  margin-left: -2px;
  margin-right: 10px;
}

.rangeDisplay {
  background-color: #BAC0B4;
  border: medium none;
  color: #636A63;
  float: left;
  height: 15px;
  margin-right: 9px;
  position: relative;
  top: 10px;
  width: 30px;
}

#rangeBoxMax .rangeDisplay{
	left:11px;}

#rangeBoxMin .rangeDisplay{
	left:17px;}

#filter button {
  background-color: #BAC0B4;
  border: medium none;
  clear: both;
  color: #636A63;
  cursor: pointer;
  float: left;
  font-size: 18px !important;
  height: 30px;
  left: 150px;
  position: relative;
  top: 50px;
  width: 120px;
}

#filter button:hover{
	background-color:#eaeaea;
	color:#636A63;}

/** Login/Registrierung - Formular **/
#regForm, #loginForm, #profilForm, #userEditForm, #contactForm{
	clear:both;
	float:left;
	margin-bottom:50px;}
	
#articleEditForm{
	float:left;}
	
#articleEditForm > div {
  float: left;
  margin-right: 15px;
  width: 310px;
}

#articleEditForm > div:nth-child(4){
	clear:both;
	float:left;
	margin-left:280px;}

#regForm label, #loginForm label, #contactForm label, #profilForm label, #userEditForm label, #articleEditForm > div > div > label{
  background-color: #636A63;
  color: #BCC2BA;
  float: left;
  clear:both;
  font-size: 18px;
  height: 25px;
  padding: 5px 10px;
  margin-bottom:15px;
  width: 100px;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

 #articleEditForm > div > div > label{
	 width:120px !important;}

#regForm input, #regForm select, #loginForm input, #contactForm input, #profilForm input, #profilForm select, #userEditForm input, #articleEditForm > div > div > input, #articleEditForm > input, #articleEditForm select{
  background-color: #BCC2BA;
  color: #636A63;
  float: left;
  font-size: 18px;
  height: 25px;
  padding: 5px 10px;
  width: 200px;
  border:thin solid #636A63;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}

#articleEditForm input{
	width:130px !important;}

#articleEditForm textarea, #contactForm textarea{
	 background-color: #BCC2BA;
  	color: #636A63;
 	 float: left;
  	font-size: 16px;
  height: 80px;
  resize:none;
  padding: 5px 10px;
  width:580px;
  border:thin solid #636A63;
  border-radius:15px;
  margin-bottom:20px;
	}

#regForm select{
	height:37px;
	width:222px;}

#profilForm select{
	height:37px;
	width:222px;}

#articleEditForm select{
	height:37px;
	width:150px;}

#articleEditForm input[name="image"]{
	position:relative;
	top:0;
	left:-152px;
	opacity:0;
	z-index:5;
	cursor:pointer;}

#articleEditForm input[name="imagePlaceholder"]{
	position:relative;
	top:0;
	left:0;
	z-index:1;}

input.submit{
	clear:both;
	cursor:pointer;
	float:left !important;
	border-radius:15px !important;
	height:40px !important;
	transition:linear all 300ms;}


input.submit:hover{
	background-color:#636A63 !important;
	color:#BCC2BA !important;}

#articleEditForm input.submit{
	margin-left:280px;
	margin-top:20px;}

/** userEditForm  **/

#userEditForm div{
	float:left;
	position:relative;
	margin-right:20px;}

#userEditForm input[type="submit"] {
  border-radius: 15px;
  clear: both;
  height: 40px;
  margin-top: 20px;
}


/** UserManager - Form **/
.userManager{
	clear:both;
	float:left;
	margin-top:100px;
	}
	
#userUpdateForm, #userCreateForm{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

#userUpdateForm > input, #userCreateForm > input{
  position:relative;
  background-color: #BCC2BA;
  
  float: left;
  font-size: 14px;
  height: 30px;
  padding: 3px 7px;
  width: 180px;
}

#userUpdateForm > input:nth-child(odd), #userCreateForm > input:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#userUpdateForm > input:nth-child(even), #userCreateForm > input:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#userUpdateForm > input:first-child, #userCreateForm > input:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

#userUpdateForm > input:nth-child(4), #userCreateForm > input:nth-child(4){
	width:220px;}

/** checkbox **/
#userUpdateForm input[type=checkbox], #userCreateForm input[type=checkbox], #articleEditForm input[type=checkbox]  {
	visibility: hidden;
}

.checkboxStatus {
	margin-left:2px;
  background: none repeat scroll 0 0 #636A63;
  float: left;
  height: 38px;
  position: relative;
  width: 80px;
  line-height:15px;
}

.checkboxStatus:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 10px;
	height: 2px;
	color: #BCC2BA;
	font-size: 16px;
}

.checkboxStatus:after {
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 49px;
	height: 2px;
	color: #444;
	font-size: 16px;
}

.checkboxStatus label{
	display: block;
	width: 35px;
	height: 22px;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 5px;
	background: #444;
}

/*.checkboxStatus < input[value="false"]{
	display: block;
	width: 35px;
	height: 22px;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 5px;
	background: #fff !important;
}*/

.checkboxAdmin {
	margin-left:2px;
  background: none repeat scroll 0 0 #636A63;
  float: left;
  height: 38px;
  position: relative;
  width: 80px;
  line-height:15px;
}

.checkboxAdmin:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 10px;
	height: 2px;
	color: #BCC2BA;
	font-size: 16px;
}

.checkboxAdmin:after {
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 49px;
	height: 2px;
	color: #444;
	font-size: 16px;
}

.checkboxAdmin label{
	display: block;
	width: 35px;
	height: 22px;

	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 5px;
	background: #444;
}


.checkboxArticleActive {
	margin-left:2px;
  background: none repeat scroll 0 0 #636A63;
  float: left;
  height: 38px;
  position: relative;
  width: 80px;
  line-height:15px;
}

.checkboxArticleActive:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 10px;
	height: 2px;
	color: #BCC2BA;
	font-size: 16px;
}

.checkboxArticleActive:after {
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 49px;
	height: 2px;
	color: #444;
	font-size: 16px;
}

.checkboxArticleActive label{
	display: block;
	width: 35px;
	height: 22px;

	/*-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;*/
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 5px;
	background: #444;
}


.userButton{
	position:relative;
  background-color: #636A63;
  float: left;
  height: 38px;
  width: 40px;
  cursor:pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border:thin solid #636A63;
   transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;}

#btn-userUpdate, #btn-userCreate{
	margin-left:2px;
	background-image: url("../resourcen/icons/save.png");}

#btn-userCreate{
	width:40px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;}

#btn-userDetail{
	background-image: url("../resourcen/icons/profileEdit.png");
	border-top-right-radius:15px;
  	border-bottom-right-radius:15px;
	padding-right:15px;}

.userButton:hover{
	background-color:#BCC2BA;}


#userManagerLabels{
	position:relative;
	float:left;
	clear:both;
	margin-top:25px;
	margin-bottom:40px;}

#userManagerLabels span{
  position:relative;
  background-color: #BCC2BA;
  line-height:30px;
  float: left;
  font-size: 18px;
  font-weight:bold;
  height: 30px;
  padding: 3px 7px;
  width: 180px;
}

#userManagerLabels span:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#userManagerLabels span:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#userManagerLabels span:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

#userManagerLabels span:nth-child(4){
	width:220px;
}

#userManagerLabels span:nth-child(5),#userManagerLabels span:nth-child(6){
	margin-left:2px;
	width:66px;
}

#userManagerLabels span:nth-child(6){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

/** ArticleManager - Form **/
.articleManager{
	clear:both;
	float:left;
	margin-top:100px;
	}
	
.articleUpdateForm{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

.articleUpdateForm input{
  position:relative;
  background-color: #BCC2BA;
  float: left;
  font-size: 16px;
  height: 30px;
  padding: 3px 7px;
  width: 110px;
  border:none;
    border-top:thin solid #636A63;
	border-bottom:thin solid #636A63;
}

.articleUpdateForm input:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
}

.articleUpdateForm input:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;

}

.articleUpdateForm input:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

.articleUpdateForm input:nth-child(odd):focus{
	background-color:#7C847C;}

.articleUpdateForm input:nth-child(even):focus{
	background-color:#CBD3C9;}

.articleUpdateForm input:nth-child(2){
	width:180px;
}

.articleUpdateForm input:nth-child(3){
	width:70px;
}

.articleUpdateForm input:nth-child(4){
	width:70px;
}

.articleUpdateForm input:nth-child(6){
	width:70px;
}

.articleUpdateForm input:nth-child(7){
	width:70px;
}

/** Artikel - Beschreibung **/
.articleUpdateForm textarea{
	position:relative;
	float:left;
	clear:both;
	margin-top:15px;
	padding:10px 15px;
	border:thin solid #636A63;
	height:auto;
	min-height:80px;
	width:963px;
	resize:none;
	background-color:transparent;
	border-radius:15px;
	display:none; }
	
/** Artikel - ImageUpload **/
.imageUpload{
	position:relative;
	float:left;
	clear:both;
	margin-top:15px;
	padding:10px 15px;
	border:thin solid #636A63;
	height:auto;
	min-height:80px;
	width:963px;
	resize:none;
	background-color:transparent;
	border-radius:15px;
	display:none;}


.articleButton{
	position:relative;
  background-color: #636A63;
  float: left;
  height: 38px;
  width: 50px;
  cursor:pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border:thin solid #636A63;
   transition: background-color 400ms ease-in;
  -moz-transition: background-color 400ms ease-in;
  -ms-transition: background-color 400ms ease-in;
  -o-transition: background-color 400ms ease-in;
  -webkit-transition: background-color 400ms ease-in;}

#btn-articleText{
	margin-left:25px;
	background-image: url("../resourcen/icons/articleText.png");}
	
#btn-articleImage{
	background-image: url("../resourcen/icons/articleImage.png");}

#btn-articleUpdate{
	background-image: url("../resourcen/icons/save.png");}

#btn-articleDelete{
	background-image: url("../resourcen/icons/delete.png");
	border-top-right-radius:15px;
  	border-bottom-right-radius:15px;
	padding-right:15px;}

.articleButton:hover{
	background-color:#BCC2BA;}


#articleManagerLabels{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

#articleManagerLabels span{
  position:relative;
  background-color: #BCC2BA;
  line-height:30px;
  float: left;
  font-size: 18px;
  font-weight:bold;
  height: 30px;
  padding: 3px 7px;
  width: 110px;
}

#articleManagerLabels span:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#articleManagerLabels span:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#articleManagerLabels span:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

#articleManagerLabels span:nth-child(2){
	width:180px;
}

#articleManagerLabels span:nth-child(3){
	width:70px;
}

#articleManagerLabels span:nth-child(4){
	width:70px;
}

#articleManagerLabels span:nth-child(6){
	width:70px;
}

#articleManagerLabels span:nth-child(7){
	width:70px;
}


/** Artikel - Einzelansicht - Formular **/
#articleForm{
	margin-left:50px;
	float:left;}

#articleForm input, #articleForm label{
	float:left;
	width:180px;
	color:#374138;
	background-color:transparent;
	border:none;
	font-size:20px;
	line-height:28px;}

#articleForm label{
	clear:both;}

#articleForm input.menge{
	background-color:#BCC2BA;);
	border:thin solid #535d54;
	width:80px;
	text-align:center;
	}

#articleForm div{
	float:left;
	clear:both;}
	
#articleForm div:nth-child(7) span {
  margin-left: 15px;
  height: 25px;
  line-height: 25px;
}

#articleForm div:nth-child(8){
	margin-top:20px;}

#articleForm div:nth-child(8) span{
	font-size:30px;
	font-weight:bold;}

/** bearbeiten Button **/
.bearbeitenButton {
  clear: both;
  float: left;
  margin-bottom: 25px;
  margin-top:-60px;
  position: relative;
}

#articleList form.bearbeitenButton {
  bottom: -43px;
  margin-top: 0 !important;
  position: absolute;
  right: 60px;
}

.bearbeitenButton input, #neuerArtikel input, #userShowWrapper a {
  background-color: #BCC2BA;
  border: thin solid #636A63;
  border-radius: 15px;
  clear: both;
  color: #636A63;
  cursor: pointer;
  float: left;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  text-align: center;
  transition: all 300ms linear 0s;
  width: 200px;
}

#neuerArtikel{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:25px;}

#userShowWrapper a{
	padding:0 !important;}

.bearbeitenButton input:hover, #neuerArtikel input:hover, #userShowWrapper a:hover{
	background-color:#636A63;
	color:#BCC2BA;}

/** kaufen **/
input#btn-kaufen {
  background-color: #535D54;
  background-image: url("../resourcen/icons/kaufen.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border-radius: 90px;
  cursor: pointer;
  height: 160px;
  left: 200px;
  position: relative;
  top: -150px;
  width: 160px;
  transition: background-size 200ms ease-in;
  -moz-transition: background-size 200ms ease-in;
  -ms-transition: background-size 200ms ease-in;
  -o-transition: background-size 200ms ease-in;
  -webkit-transition: background-size 200ms ease-in;
}

input#btn-kaufen:hover{
	background-size:65%;
	border:3px solid #4E544E;}


/** orderShowForm **/
#orderShowForm{
	position:relative;
	float:left;
	clear:both;
	margin-top:30px;}

#sumPrice{
	position:relative;
	float:left;
	clear:both;
	margin-top:0px;}


#orderShowBuy {
  clear: both;
  float: left;
  left: 268px;
  position: relative;
  top: -55px;
}

#sumPrice, #orderShowBuy label{
	font-size:22px;}

#sumPrice span, #orderShowBuy label{
	font-weight:bold;
	margin-right:40px;}

#orderShowForm > div{
	position:relative;
	float:left;
	margin-right:20px;
	top:20px;}

.orderShowArticle{
	position:relative;
	margin-top:15px;
	margin-bottom:25px;}

#orderShowForm > div > label{
	position:relative;
	float:left;
	background-color:#535D54;
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	height:30px;
	width:120px;
	line-height:30px;
	color:#E6E6E6;
	margin-top:5px;
	text-align:center;}

#orderShowForm label:nth-child(5){
	clear:both;}

#orderShowForm > div > input{
	position:relative;
	float:left;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	min-width:220px;
	width:auto;
	height:29px;
	line-height:30px;
	margin-top:6px;
	border:none;
	background-color:transparent;
	border-bottom:1px solid #535D54;}

#orderShowForm > div > div {
  left: 730px;
  position: absolute;
  top: 30px;
}

#orderShowForm > input {
  background-color: #BCC2BA;
  border: thin solid #636A63;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #636A63;
  float: left;
  font-size: 18px;
  height: 25px;
  padding: 5px 10px;
  width: 200px;
}

#orderShowForm > input {
  border-radius: 15px !important;
  clear: both;
  cursor: pointer;
  float: left !important;
  height: 40px !important;
  margin-top: 10px;
  transition: all 300ms linear 0s;
}
	
#orderShowForm > input:hover{
	background-color:#636A63 !important;
	color:#BCC2BA !important;}

#orderShowBuy input{
  background-color: #535D54;
  background-image: url("../resourcen/icons/warenkorbBuy.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border-radius: 60px;
  cursor: pointer;
  height: 120px;
  position: relative;
  transition: background-size 200ms ease-in 0s;
  width: 120px;
}

#orderShowBuy input:hover{
	background-size:65%;
	border:3px solid #4E544E;}