form input{
	font-family:"Lato";
	font-size:18px;}


/** Such - Formular **/

#searchField {
  background-color: #636A63;
  border: medium none;
  color: #FFFFFF;
  width: 120px;
  border-right:thin solid white;
}

#searchButton {
	background: url("../resourcen/icons/searchIcon.png") no-repeat;
	cursor:pointer;
	border: none;
	width:30px;
	height:30px;
	margin-left:10px;
}


/** Filter - Formular **/

#filterCheckbox{
	position:relative;
	float:left;
	top:0;
	left:0;
	width:190px;
	height:40px;}

#filterCheckbox div{
	float:left;
	width:85px;
	margin-left:10px;
	margin-bottom:5px;
}

#filterSelectbox{
	position:relative;}

#filterSelectbox label{
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#filterSelectbox label:first-child{
	margin-right:29px;}

#filterSelectbox select {
  float:left;
  border: none;
  font-family: "Lato";
  font-size: 16px;
  width: 70px;
  margin-bottom:5px;
  height:20px;
}

select option{
	background-color:#blue;}

select option[val="blau"]{
	background-color:#blue;
}

select option[val="rot"]{
	background-color:#red;
}


/** Login/Registrierung - Formular **/
#regForm, #loginForm{
	clear:both;
	float:left;
	margin-bottom:50px;}

#regForm label, #loginForm label {
  background-color: #636A63;
  color: #BCC2BA;
  float: left;
  clear:both;
  font-size: 18px;
  height: 25px;
  padding: 5px 10px;
  margin-bottom:15px;
  width: 100px;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

#regForm input, #regForm select, #loginForm input {
  background-color: #BCC2BA;
  color: #636A63;
  float: left;
  font-size: 18px;
  height: 25px;
  padding: 5px 10px;
  width: 200px;
  border:thin solid #636A63;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}

#regForm select{
	height:37px;
	width:222px;}

input.submit{
	clear:both;
	cursor:pointer;
	float:left !important;
	border-radius:15px !important;
	height:40px !important;
	transition:linear all 300ms;}

input.submit:hover{
	background-color:#636A63 !important;
	color:#BCC2BA !important;}


/** UserManager - Form **/
.userManager{
	clear:both;
	float:left;
	margin-top:100px;
	}
	
#userUpdateForm{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

#userUpdateForm input{
  position:relative;
  background-color: #BCC2BA;
  
  float: left;
  font-size: 16px;
  height: 30px;
  padding: 3px 7px;
  width: 170px;
}

#userUpdateForm input:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#userUpdateForm input:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#userUpdateForm input:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

.userButton{
	position:relative;
  background-color: #636A63;
  float: left;
  height: 38px;
  width: 50px;
  cursor:pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border:thin solid #636A63;
   transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;}

#btn-userUpdate{
	margin-left:25px;
	background-image: url("../resourcen/icons/save.png");}

#btn-userDelete{
	background-image: url("../resourcen/icons/delete.png");
	border-top-right-radius:15px;
  	border-bottom-right-radius:15px;
	padding-right:15px;}

.userButton:hover{
	background-color:#BCC2BA;}


#userManagerLabels{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

#userManagerLabels span{
  position:relative;
  background-color: #BCC2BA;
  line-height:30px;
  float: left;
  font-size: 18px;
  font-weight:bold;
  height: 30px;
  padding: 3px 7px;
  width: 170px;
}

#userManagerLabels span:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#userManagerLabels span:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#userManagerLabels span:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

/** ArticleManager - Form **/
.articleManager{
	clear:both;
	float:left;
	margin-top:100px;
	}
	
.articleUpdateForm{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

.articleUpdateForm input{
  position:relative;
  background-color: #BCC2BA;
  float: left;
  font-size: 16px;
  height: 30px;
  padding: 3px 7px;
  width: 110px;
  border:none;
    border-top:thin solid #636A63;
	border-bottom:thin solid #636A63;
}

.articleUpdateForm input:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
}

.articleUpdateForm input:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;

}

.articleUpdateForm input:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

.articleUpdateForm input:nth-child(odd):focus{
	background-color:#7C847C;}

.articleUpdateForm input:nth-child(even):focus{
	background-color:#CBD3C9;}

.articleUpdateForm input:nth-child(2){
	width:180px;
}

.articleUpdateForm input:nth-child(3){
	width:70px;
}

.articleUpdateForm input:nth-child(4){
	width:70px;
}

.articleUpdateForm input:nth-child(6){
	width:70px;
}

.articleUpdateForm input:nth-child(7){
	width:70px;
}

/** Artikel - Beschreibung **/
.articleUpdateForm textarea{
	position:relative;
	float:left;
	clear:both;
	margin-top:15px;
	padding:10px 15px;
	border:thin solid #636A63;
	height:auto;
	min-height:80px;
	width:963px;
	resize:none;
	background-color:transparent;
	border-radius:15px;
	display:none; }
	
/** Artikel - ImageUpload **/
.imageUpload{
	position:relative;
	float:left;
	clear:both;
	margin-top:15px;
	padding:10px 15px;
	border:thin solid #636A63;
	height:auto;
	min-height:80px;
	width:963px;
	resize:none;
	background-color:transparent;
	border-radius:15px;
	display:none;}


.articleButton{
	position:relative;
  background-color: #636A63;
  float: left;
  height: 38px;
  width: 50px;
  cursor:pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border:thin solid #636A63;
   transition: background-color 400ms ease-in;
  -moz-transition: background-color 400ms ease-in;
  -ms-transition: background-color 400ms ease-in;
  -o-transition: background-color 400ms ease-in;
  -webkit-transition: background-color 400ms ease-in;}

#btn-articleText{
	margin-left:25px;
	background-image: url("../resourcen/icons/articleText.png");}
	
#btn-articleImage{
	background-image: url("../resourcen/icons/articleImage.png");}

#btn-articleUpdate{
	background-image: url("../resourcen/icons/save.png");}

#btn-articleDelete{
	background-image: url("../resourcen/icons/delete.png");
	border-top-right-radius:15px;
  	border-bottom-right-radius:15px;
	padding-right:15px;}

.articleButton:hover{
	background-color:#BCC2BA;}


#articleManagerLabels{
	position:relative;
	float:left;
	clear:both;
	margin-bottom:40px;}

#articleManagerLabels span{
  position:relative;
  background-color: #BCC2BA;
  line-height:30px;
  float: left;
  font-size: 18px;
  font-weight:bold;
  height: 30px;
  padding: 3px 7px;
  width: 110px;
}

#articleManagerLabels span:nth-child(odd){
	color:#BCC2BA;
  background-color: #636A63;
  border:thin solid #636A63;
}

#articleManagerLabels span:nth-child(even){
	color: #636A63;
  background-color: #BCC2BA;
  border:thin solid #636A63;
}

#articleManagerLabels span:first-child{
	width:80px;
	color:#BCC2BA;
	padding-left:15px;
  background-color: #636A63;
  border:thin solid #636A63;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

#articleManagerLabels span:nth-child(2){
	width:180px;
}

#articleManagerLabels span:nth-child(3){
	width:70px;
}

#articleManagerLabels span:nth-child(4){
	width:70px;
}

#articleManagerLabels span:nth-child(6){
	width:70px;
}

#articleManagerLabels span:nth-child(7){
	width:70px;
}


/** Artikel - Einzelansicht - Formular **/
#articleForm{
	margin-left:100px;
	float:left;}

#articleForm input, #articleForm label{
	float:left;
	width:180px;
	color:#374138;
	background-color:transparent;
	border:none;
	font-size:20px;
	line-height:28px;}

#articleForm label{
	clear:both;}

#articleForm input.menge{
	background-color:white;
	border:thin solid #535d54;
	width:80px;
	text-align:center;
	}

#articleForm div{
	float:left;
	clear:both;
	margin-top:40px;}

#articleForm div span{
	font-size:30px;
	font-weight:bold;}



/** kaufen **/
button#btn-kaufen {
  background-color: #535D54;
  background-image: url("../resourcen/icons/kaufen.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: medium none;
  border-radius: 90px;
  cursor: pointer;
  height: 160px;
  left: 50px;
  position: relative;
  top: 55px;
  width: 160px;
  transition: background-size 200ms ease-in;
  -moz-transition: background-size 200ms ease-in;
  -ms-transition: background-size 200ms ease-in;
  -o-transition: background-size 200ms ease-in;
  -webkit-transition: background-size 200ms ease-in;
}

button#btn-kaufen:hover{
	background-size:65%;
	border:3px solid #4E544E;}