a:link { font-weight:normal; color:#535D54; text-decoration:none; }
a:visited { font-weight:normal; color:#535D54; text-decoration:none; }
a:focus { font-weight:normal; color:#94ac96; text-decoration:none; }
a:hover { font-weight:normal; color:#94ac96; text-decoration:none; }
a:active { font-weight:normal; color:#535D54; text-decoration:none; }

#footerLinks a{ font-size:20px;}

#footerLinks a:link { font-weight:normal; color:#aaa; text-decoration:none; }
#footerLinks a:visited { font-weight:normal; color:#aaa; text-decoration:none; }
#footerLinks a:focus { font-weight:normal; color:#94ac96; text-decoration:none; }
#footerLinks a:hover { font-weight:normal; color:#94ac96; text-decoration:underline; }
#footerLinks a:active { font-weight:normal; color:#535D54; text-decoration:none; }



.articleListItemLink a{ font-size:20px; text-decoration:none; border:none;}

.articleListItemLink a:link { font-weight:normal; color:none; text-decoration:none; }
.articleListItemLink a:visited { font-weight:normal; color:none; text-decoration:none; }
.articleListItemLink a:focus { font-weight:normal; color:none; text-decoration:none; }
.articleListItemLink a:hover { font-weight:normal; color:none; text-decoration:none; }
.articleListItemLink a:active { font-weight:normal; color:none; text-decoration:none; }

#errorBox > div:hover a:link { font-weight:normal; color:#D8A758; text-decoration:none; }
#errorBox > div:hover a:visited { font-weight:normal; color:#D8A758; text-decoration:none; }
#errorBox > div:hover a:focus { font-weight:normal; color:#D8A758; text-decoration:none; }
#errorBox > div:hover a:hover { font-weight:normal; color:white; text-decoration:none; }
#errorBox > div:hover a:active { font-weight:normal; color:#D8A758; text-decoration:none; }
